# Core
torch==2.1.2+cu118
torchvision==0.16.2+cu118
torchaudio==2.1.2+cu118
pytorch_lightning==1.4.2
omegaconf==2.1.1
albumentations==1.1.0
einops==0.4.1
tqdm==4.66.5
transformers==4.19.2
scikit-image==0.20.0
opencv_python
dlib==19.24.1
flask==3.1.1
clip==1.0
taming-transformers @ git+https://github.com/CompVis/taming-transformers.git@master

# File and image handling
Pillow==9.0.1
imageio==2.14.1
matplotlib==3.7.5
regex==2024.9.11
ftfy==6.0.3
scipy==1.9.1
numpy==1.24.3
requests==2.32.3
PyYAML==6.0.2
pandas==2.0.3

# VFX / 3D / Extras
trimesh==4.4.9
kornia==0.6.0
more_itertools==10.5.0
proglog==0.1.10
pyopengl==3.1.7
glfw==2.7.0
streamlit==0.73.1
wandb==0.18.1
torchmetrics==0.6.0

# Savepoint-specific
bezier==2023.7.28
diffusers==0.30.3
dift==0.0.7
typing_extensions==4.12.2
packaging==24.1
